/* Category Select */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.selectCat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 330px;
  width: 80%;
  height: 50%;
  margin: 0px auto;
  font-family: 'Roboto', sans-serif; 
}

.container1{
  width: 100%;
}

.container2{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 2em 0;
}

.container3{
  height: 90%;
  width: 70%;
}

#categories{
  margin: 0 0.5em 1em 0;
  background-color: whitesmoke;
  width: 50%;
  max-width: 150px;
  padding: 10px 5px;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
#play{
  width: 30%;
  min-width: 60px;
  max-width: 90px;
  padding: 12px 5px;
  font-size: 1.5em;
  font-weight: 500;
  background-color: #277BC0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn{
  padding: 10px 5px;
  width: 85%;
  max-width: 250px;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.addWords{
  background-color: #538d4e;
}

.deleteWords{
  margin-top: 1em;
  background-color: #FF1E00;
}


.title{
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
}

.about{
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.french1{
  color: #277BC0;
}

.french2{
  color: #FFFFFF;
}

.french3{
  color: #FF1E00;
  margin-right: 10px;
}

.french4{
  font-size: 1em;
}

.instructions{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  width: 80%;
  max-width: 700px;
  height:80%;
  text-align: left;
  margin-bottom: 1em;
  text-align: center;
}

#credit{
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: white;
  margin-top: 2em;
}

#credit a{
  text-decoration: none;
  color: white;
}


@media only screen and (min-width: 1025px) {
  .title{
    font-size: 6em;
  }
  .selectCat{
    width: 100%;
    height: 70%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif; 
  }
  .french4{
    font-size: 1em;
  }
  .instructions{
    font-size: 1.4em;
  }
  .about{
    font-size: 1.2em;
  }
  #credit{
    font-size: 1.2em;
  }
}
