@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


h1 {
  font-size: 3em;
  padding: 5px 0;
  margin-top: 0.25em;
}

.french1{
  color: #277BC0;
}

.french2{
  color: #FFFFFF;
}

.french3{
  color: #FF1E00;
  margin-right: 10px;
}

.french4{
  font-size: 1em;
}


.image{
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.layout2{
  width: 100%;
  margin: 0 auto;
}


.layout{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.layout3{
  margin-top: 0.5em;
  width: 80%;
}


/* rows */
.row{
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div{
  display: block;
  flex-grow: 1;
  max-width: 60px;
  height: 50px;
  border: 1.75px solid #565758;
  margin: 4px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  color:white;
}

.row > div.green {
  --background: #538d4e;
  --border-color: #538d4e;
  animation: flip 0.5s ease forwards;
}
.row > div.grey {
  --background: #3a3a3c;
  --border-color: #3a3a3c;
  animation: flip 0.5s ease forwards;
}
.row > div.yellow {
  --background: #b59f3b;
  --border-color: #b59f3b;
  animation: flip 0.5s ease forwards;
}

/* delay animation of each tile */
.row > div:nth-child(2){
  animation-delay: 0.2s;
}
.row > div:nth-child(3){
  animation-delay: 0.4s;
}
.row > div:nth-child(4){
  animation-delay: 0.6s;
}
.row > div:nth-child(5){
  animation-delay: 0.8s;
}

.row.current > div.filled{
  animation: bounce 0.2s ease-in-out forwards;
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateX(0); /* rotation about x axist is 0 deg */
    background-color: #fff;
    border-color: #333;
  }
  45%{
    transform: rotateX(90deg); /* rotation about x axist is 90 deg */
    background-color: #fff;
    border-color: #333;
  }
  55%{
    transform: rotateX(90deg); /* rotation about x axist is 90 deg */
    background: var(--background);
    background-color: var(--border-color);
    color: #eee;
  }
  100% {
    transform: rotateX(0); /* rotation about x axist is 0 deg */
    background: var(--background);
    background-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce{
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    border-color: #333;
  }
}

.keypad{
  width: 100%;
  max-height: 200px;
  max-width: 484px;
  margin: 10px auto;
  text-transform: uppercase;
  font-weight: 600;
}

.keypad > div {
  margin: 5px;
  width: 32px;
  height: 58px;
  background-color:  #818384;
  display: inline-block;
  border-radius: 6px;
  line-height: 58px;
}

.keypad > div.green{
  background: #538d4e;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow{
  background: #b59f3b;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey{
  background: #3a3a3c;
  color: #fff;
  transition: all 0.3s ease-in;
}

.modal{
  background: rgba(255,255, 255, 0.7);
  position: fixed; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal h1{
  border-bottom: 5px solid black;
  padding-bottom: 2px;
  margin-bottom: 0.25em;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3)
}
.modal .solved{
  color: #ff004c;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 5em;
}

.modal p {
  margin-top: 0.25em;
  font-size: 1.4em;
}

.turns{
  font-size: 1.5em;
  font-weight: 700;
  color: goldenrod;
}

.btn{
  background: #ff004c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5em;
  font-size: 1.7em;
  font-weight: 600;
}

.play{
  background-color: #538d4e;
}

.newcat{
  margin-left: 1em;
}

@media only screen and (min-width: 1025px) {
  h1{
    font-size: 4em;
  }
  .image{
    max-width: 250px;
    height: 250px;
  }
}